.map {
    flex-grow: 8;
    height: 100vh;
    margin-top: 10px;
  }
.chat {
    flex-grow: 1;
    height: 100vh;
    margin-top: 10px;
  }
  
  .chat::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
  }
  
  .chat::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the thumb */
    border-radius: 5px; /* Set the border radius of the thumb */
  }
  
  /* Clear floats after the columns */

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: gray;
  }
  